.reading-card {
    margin-bottom: 20px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    height: 300rpx;
}

.reading-card-left {
    flex: 0 1 200rpx;
    margin-right: 30rpx;
}

.reading-card-right {
    flex: 0 2 500rpx;
    .title {
        font-size: 16px;
        font-weight: bold;
        margin: 5px 0;
    }
    .read-date, .description {
        color: #6a6a6a;
        font-size: 12px;
    }
}

.reading-card-left .book-image {
    display: block;
    width: auto;
    height: 300rpx;
}

